$body-font-family = 'Roboto', sans-serif
$heading-font-family = 'Comfortaa', cursive

@import '~@mdi/font/css/materialdesignicons.css'
@import '~typeface-comfortaa/index.css'
@import '~typeface-roboto/index.css'

@require '~vuetify/src/stylus/app.styl'